body{
    min-height:20em;
    min-width:20em;
    margin:1em;
    overflow-y:scroll;
}

h3 {
    text-align:center;
}

.floatleft {
    float:left;
    display:flex;
}

.floatleft:after{
    clear:both;
}

.lineoption {
    float: left;
    display: flex;
    padding-top:2px;
    padding-bottom:2px;
    align-items:center;
}

.lineoption:after{
    clear:both;
}

.lineoption > label {
    font-weight:bold;
}

.lineoption > * {
    margin-left:2px;
}

.remove {
    /* Stolen from https://stackoverflow.com/a/8965594 */
    color: red;
    content: "⛌";
    font: bold;
    font-size: medium;
    cursor:pointer;
    padding-right:1em;
}